@font-face {
  font-family: 'Lama Sans';
  src: url('assets/fonts/LamaSans-Medium.eot');
  src: url('assets/fonts/LamaSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/LamaSans-Medium.woff2') format('woff2'),
      url('assets/fonts/LamaSans-Medium.woff') format('woff'),
      url('assets/fonts/LamaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lama Sans';
  src: url('assets/fonts/LamaSans-Bold.eot');
  src: url('assets/fonts/LamaSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/LamaSans-Bold.woff2') format('woff2'),
      url('assets/fonts/LamaSans-Bold.woff') format('woff'),
      url('assets/fonts/LamaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lama Sans';
  src: url('assets/fonts/LamaSans-Regular.eot');
  src: url('assets/fonts/LamaSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/LamaSans-Regular.woff2') format('woff2'),
      url('assets/fonts/LamaSans-Regular.woff') format('woff'),
      url('assets/fonts/LamaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body{
  font-family: 'Lama Sans' !important;
}
.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 12px !important;
  line-height: 26px !important;
  background-color: black !important;
  width: 40px !important;
  font-weight: 900 !important;
  height: 25px !important;
  text-align: center !important;
  color: #fff !important;
  border-radius: 20px !important;
}
