.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset !important;
  left: 50% !important;
  background-color: #CFD0E1 !important;
  bottom: 0% !important;
  max-width: 70px !important;
  transform: translateX(-50%) !important;
  border-radius: 12px !important;
  text-align: center !important;
}
.swiper-pagination-bullet-active {
  background: #32477A !important;
}